:root {
    
    --fnt-open-sans: "Open Sans", sans-serif;
    --letter-spacing-main: 0.1rem;
    --color-black-primary: rgb(34, 34, 34);
    --color-black-secondary: rgb(16, 42, 66);
    --color-blue-light-1: rgb(84,166,234);
    --bg-color-main: rgb(241, 245, 248)
    
}

*, *::before, *::after {
    box-sizing: border-box;
} 

* {
    margin: 0;
    padding: 0;
}


body {
    
}

main {
    width: 100vw;
    height: 100vh;
}

    

