:root {
    
    --fnt-open-sans: "Open Sans", sans-serif;
    --fnt-segoe-ui: "Segoe UI", sans-serif;
    --fnt-roboto: "Roboto", sans-serif;
    --fnt-arial: "Arial", sans-serif;
    --fnt-great-vibes: "Great Vibes", sans-serif;
    --letter-spacing-primary: 0.275rem;
    --letter-spacing-secondary: 0.1rem;
    --clr-black-primary: rgb(34, 34, 34);
    --clr-black-secondary: rgb(16, 42, 66);
    --clr-alert-danger-text: rgb(114 28 36);
    --clr-alert-danger-bg: rgb(248 215 218);
    --clr-alert-success-text: rgb(21 87 36);
    --clr-alert-success-bg: rgb(212 237 218);
    --clr-gray-1: rgb(97 125 152);
    --clr-gray-2: rgb(130, 154, 176);
    --clr-gray-3: rgb(218 226 236);
    --clr-gray-4: rgb(100 116 139);
    --clr-blue-light-1: rgb(26, 106, 162);
    --clr-blue-light-2: rgb(84,166,234);
    --clr-cyan-primary: rgb(64, 207, 212);
    --bg-color-main: rgb(241, 245, 248);
    --clr-gold-main: rgb(197, 157, 95);
    --clr-orange-1: rgb(186 93 44);
    --clr-orange-2: rgb(134 56 14);

}

*, *::before, *::after {
    box-sizing: border-box;
} 

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


body {
  background-color: var(--bg-color-main);    
}



.l-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    place-items: center;
    width: 90vw;
    max-width: 700px;
    margin: 4rem auto;
}


.c-joke {
    width: 100%;
}

.c-joke__btn {
    display: inline-block;
    font-family: var(--fnt-arial);
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: var(--letter-spacing-secondary);
    border: none;
    border-radius: 5px;
    padding: 0.375rem 0.75rem;
    text-transform: capitalize;
    background-color: var(--clr-orange-1);
    color: white;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.c-joke__btn:hover {
    background-color: var(--clr-orange-2);
}

.c-joke__text {
    font-family: var(--fnt-segoe-ui);
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 2rem;
    color: var(--clr-black-secondary);
}


@media  screen and (max-width:1024px) {
   
}
 
@media  screen and (max-width:992px) {
   
 }

 @media  screen and (max-width:768px) {
   
 }

 @media  screen and (max-width:650px) {
   
 }

 @media  screen and (max-width:500px) {
    
 }