:root {
    
    --fnt-open-sans: "Open Sans", sans-serif;
    --fnt-roboto: "Roboto", sans-serif;
    --fnt-great-vibes: "Great Vibes", sans-serif;
    --letter-spacing-main: 0.275rem;
    --clr-black-primary: rgb(34, 34, 34);
    --clr-black-secondary: rgb(16, 42, 66);
    --clr-blue-light-1: rgb(84,166,234);
    --bg-color-main: rgb(241, 245, 248);
    --clr-gold-main: rgb(197, 157, 95);
}

*, *::before, *::after {
    box-sizing: border-box;
} 

* {
    margin: 0;
    padding: 0;
}


body {
    
}

main {
    align-items: center;
    background-color: var(--bg-color-main);
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* justify-content: center; */
    width: 100vw;
}

h1 {
    font-family: var(--fnt-great-vibes);
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: 700;
    color: var(--clr-gold-main);
}

.title {
    margin-top: 15vh;
    margin-bottom: 4rem;
}

.question {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 1.5rem;
    height: 50px;
    overflow: hidden;
    width: 90vw;
    max-width: 620px;
}

.question__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.question__header h2 {
    font-family: var(--fnt-open-sans);
    font-size: 1rem;
    color: var(--clr-black-secondary);
    text-transform: capitalize;
    letter-spacing: var(--letter-spacing-main);
    line-height: 1.5rem;
    font-weight: 400;
}