:root {
    
    --fnt-open-sans: "Open Sans", sans-serif;
    --fnt-roboto: "Roboto", sans-serif;
    --fnt-arial: "Arial", sans-serif;
    --fnt-great-vibes: "Great Vibes", sans-serif;
    --letter-spacing-main: 0.275rem;
    --clr-black-primary: rgb(34, 34, 34);
    --clr-black-secondary: rgb(16, 42, 66);
    --clr-gray-primary: rgb(97 125 152);
    --clr-gray-secondary: rgb(218 226 236);
    --clr-blue-light-1: rgb(84,166,234);
    --clr-cyan-primary: rgb(64, 207, 212);
    --bg-color-main: rgb(241, 245, 248);
    --clr-gold-main: rgb(197, 157, 95);
}

*, *::before, *::after {
    box-sizing: border-box;
} 

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: var(--bg-color-main);
}

.l-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0 2rem;
    margin: 0 auto;
    width: 95vw;
    max-width: 1170px;
}

.c-header {
    grid-column: 1 / 3;
    
    text-align: center;
    padding: 4rem 0;
}

.c-header__title {
    font-family: var(--fnt-roboto);
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--clr-black-secondary);
    letter-spacing: var(--letter-spacing-main);
}

.c-header__info {
    font-family: var(--fnt-open-sans);
    font-size: 1rem;
    font-weight: 400;
    color: var(--clr-gray-primary);
    
}

.c-img-container {
    grid-column: 1 / 2;
    border-radius: 8px;
}

.c-img-container__image {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 8px;
}

.tabs__nav {
    display: flex;
}

.tabs__nav :first-child {
    border-radius: 8px 0 0 0 ;   
}

.tabs__nav :last-child {
    border-radius: 0 8px 0 0 ;   
}

.tabs__nav-btn {
    display: block;
    flex-grow: 1;
    font-family: var(--fnt-arial);
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--letter-spacing-main);
    border: none;
    background-color: var(--clr-gray-secondary);
    cursor: pointer;
    padding: 1rem;
}

.tabs__nav-btn.active {
    background-color: white;
}

.tabs__item {
    display: none;
    background-color: white;
    padding: 1.5rem;
    border-radius: 0 0 8px 8px;
}

.tabs__item.active {
    display: block;
}

.tabs__item h4 {
    font-family: var(--fnt-roboto);
    font-size: 1rem;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: var(--letter-spacing-main);
    color: var(--clr-black-secondary);
}

.tabs__item p {
    font-family: var(--fnt-open-sans);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--clr-gray-primary);
    margin: 1rem 0;
}

@media screen and (max-width: 992px) {
    .l-content {
        grid-template-columns: 1fr;
        grid-row: auto auto auto;
        column-gap: 0;
        row-gap: 1.5rem;
        padding: 0 1.5rem 2rem;
    }

    .c-header {
        padding-bottom: 2rem;
    }

    .c-img-container {
        grid-row: 2;
        border-radius: 8px;
    }

    .tabs {
        grid-row: 3;
    }
   
}