:root {
    
    --fnt-open-sans: "Open Sans", sans-serif;
    --fnt-segoe-ui: "Segoe UI", sans-serif;
    --fnt-roboto: "Roboto", sans-serif;
    --fnt-arial: "Arial", sans-serif;
    --fnt-great-vibes: "Great Vibes", sans-serif;
    --letter-spacing-primary: 0.275rem;
    --letter-spacing-secondary: 0.1rem;
    --clr-black-primary: rgb(34, 34, 34);
    --clr-black-secondary: rgb(16, 42, 66);
    --clr-alert-danger-text: rgb(114 28 36);
    --clr-alert-danger-bg: rgb(248 215 218);
    --clr-alert-success-text: rgb(21 87 36);
    --clr-alert-success-bg: rgb(212 237 218);
    --clr-gray-1: rgb(97 125 152);
    --clr-gray-2: rgb(130, 154, 176);
    --clr-gray-3: rgb(218 226 236);
    --clr-blue-light-1: rgb(26, 106, 162);
    --clr-blue-light-2: rgb(84,166,234);
    --clr-cyan-primary: rgb(64, 207, 212);
    --bg-color-main: rgb(241, 245, 248);
    --clr-gold-main: rgb(197, 157, 95);
}

*, *::before, *::after {
    box-sizing: border-box;
} 

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    --theme-clr-bg: rgb(255 255 255);
    --theme-clr-font: rgb(40 44 53);
    --theme-clr-main: rgb(210 54 105);
    --theme-clr-grey: rgb(100 116 139);
   background-color: var(--theme-clr-bg);
    
   
}

body.dark-theme {
    --theme-clr-bg: rgb(40 44 53);
    --theme-clr-font: rgb(255 255 255);
    --theme-clr-main: rgb(255 167 196);
    --theme-clr-grey: rgb(203 213 225);
    background-color: var(--theme-clr-bg);
}

.l-content {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    width: 90vw;
    max-width: 600px;
    margin: 4rem auto;
    
}

.c-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

/* head section */

.c-head__title {
    font-family: var(--fnt-segoe-ui);
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 60px;
    color: var(--theme-clr-font);
    text-transform: capitalize;
}
/* Theme toggler */
.c-toggle-theme-btn {
    font-family: var(--fnt-arial);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: var(--letter-spacing-secondary);
    padding: 0.5rem 0.75rem;
    border: none;
    border-radius: 8px;
    text-transform: capitalize;
    color: var(--theme-clr-bg);
    background-color: var(--theme-clr-main);
    cursor: pointer;
}

/* posts section */

.c-post {
    padding: 1rem 0;
}

.c-post__title {
    font-family: var(--fnt-segoe-ui);
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: var(--letter-spacing-secondary);
    color: var(--theme-clr-main);
    text-transform: capitalize;
}

.c-post__date {
    font-family: var(--fnt-segoe-ui);
    font-size: 0.8rem;
    font-weight: 400;
    font-style: italic;
    line-height: 1.3rem;
    color: var(--theme-clr-grey);

}

.c-post__content {
    font-family: var(--fnt-segoe-ui);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.3rem;
    color: var(--theme-clr-font);
}


 @media  screen and (max-width:992px) {
 
 }

 @media  screen and (max-width:768px) {
      
 }

 @media  screen and (max-width:650px) {
   
 }

 @media  screen and (max-width:500px) {
    
 }