:root {
    
    --fnt-open-sans: "Open Sans", sans-serif;
    --fnt-roboto: "Roboto", sans-serif;
    --fnt-arial: "Arial", sans-serif;
    --fnt-great-vibes: "Great Vibes", sans-serif;
    --letter-spacing-primary: 0.275rem;
    --letter-spacing-secondary: 0.1rem;
    --clr-black-primary: rgb(34, 34, 34);
    --clr-black-secondary: rgb(16, 42, 66);
    --clr-alert-danger-text: rgb(114 28 36);
    --clr-alert-danger-bg: rgb(248 215 218);
    --clr-alert-success-text: rgb(21 87 36);
    --clr-alert-success-bg: rgb(212 237 218);
    --clr-gray-1: rgb(97 125 152);
    --clr-gray-2: rgb(130, 154, 176);
    --clr-gray-3: rgb(218 226 236);
    --clr-blue-light-1: rgb(26, 106, 162);
    --clr-blue-light-2: rgb(84,166,234);
    --clr-cyan-primary: rgb(64, 207, 212);
    --bg-color-main: rgb(241, 245, 248);
    --clr-gold-main: rgb(197, 157, 95);
}

*, *::before, *::after {
    box-sizing: border-box;
} 

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: var(--bg-color-main);
   
}

.l-content {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    width: 90vw;
    max-width: 900px;
    margin: 4rem auto;
    
}

.c-slider {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    height: 60vh;
    border: 3px solid var(--clr-black-secondary);
    border-radius: 8px;
    background-color: var(--clr-black-secondary);
}

.c-slider__slide {
    position: relative;
    display: block;
    min-width: 100%; 
    height: 100%;
    transition: transform 0.3s ease-out;

}

.c-slider__img {
   width: 100%;
    height: 100%;
    object-fit: cover;
   border-radius: 8px;
}

 .c-slider__index {
   position: absolute;
   bottom: 10px;
   right: 20px ;
   
   text-align: center;
   color: white;
   font-size: 2rem;
 }

 .c-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
 }

 .c-buttons__btn {
    display: inline-block;
    margin: 0 0.5rem;
    font-family: var(--fnt-arial);
    font-size: 1.75rem;
    color: var(--clr-gray-1);
    background: transparent;
    text-transform: capitalize;
    border: none;
    transition: color 0.3s ease-out;
 }

 .c-buttons__btn:hover {
    color: var(--clr-black-secondary)
 }


 @media  screen and (max-width:992px) {
    .c-slider {
        height: 50vh;
    }
 }


 @media  screen and (max-width:768px) {
    .c-slider {
        height: 45vh;
    }
 }


 @media  screen and (max-width:650px) {
    .c-slider {
        height: 40vh;
    }
 }

 @media  screen and (max-width:500px) {
    .c-slider {
        height: 35vh;
    }
 }