:root {
    --letter-spacing-main: 0.25rem;
    --color-black-primary: rgb(34, 34, 34);
    --color-black-secondary: rgb(16, 42, 66);
    --bg-color: rgb(241, 245, 248)
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 4rem;
    letter-spacing: var(--letter-spacing-main);
    color: var(--color-black-secondary);
}

.container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
    width: 450px;
   
    
}

.btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    
}

.counter {
    font-family: "Open Sans", sans-serif;
    font-size: 6rem;
    font-weight: 700;
}

.counter.green {
    color:green
}
.counter.red{
    color:red
}

button {
    display: inline-block;
    background: transparent;
    color:rgb(34, 34, 34);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.25rem;
    border-radius: 10px;
    margin-top: 20px;
    transition: color .3s linear, background .3s linear  ;
    padding: 10px;
    
}

button:hover {
    color: rgb(255, 255, 255);
    background: black;
}
