:root {
    
    --fnt-open-sans: "Open Sans", sans-serif;
    --fnt-roboto: "Roboto", sans-serif;
    --fnt-arial: "Arial", sans-serif;
    --fnt-great-vibes: "Great Vibes", sans-serif;
    --letter-spacing-main: 0.275rem;
    --clr-black-primary: rgb(34, 34, 34);
    --clr-black-secondary: rgb(16, 42, 66);
    --clr-gray-primary: rgb(97 125 152);
    --clr-gray-secondary: rgb(218 226 236);
    --clr-blue-light-1: rgb(84,166,234);
    --clr-cyan-primary: rgb(64, 207, 212);
    --bg-color-main: rgb(241, 245, 248);
    --clr-gold-main: rgb(197, 157, 95);
}

*, *::before, *::after {
    box-sizing: border-box;
} 

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: var(--bg-color-main);
}

.l-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0 2rem;
    margin: 0 auto;
    width: 95vw;
    max-width: 1170px;
}

.c-img-container {
    /* grid-column: 1 / 2;
    border-radius: 8px; */
}

.c-img-container__image {
    width: 100%;
   /*  height: 20rem; */
    object-fit: cover;
    /* border-radius: 8px; */
}


@media screen and (max-width: 992px) {
  
}